@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@font-face {
  font-family: "Moret-Bold";
  font-display: swap;
  src: url("/fonts/Styled.woff2") format("woff2");
}

.radial-gradient {
  background: url(/gradient.svg)
}
body {
  @apply bg-gray-50
}
.noise {
  background: linear-gradient(to bottom right, rgb(35 35 35 / 50%) 0%, rgb(20 20 20 / 50%) 23%, rgb(191 185 180 / 60%)), linear-gradient(200deg, rgb(0 0 0 / 65%) 18%, rgb(100 100 100 / 20%) 40%), url(/noise.svg);
}
.stack {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'stack'
}
.stack > * {
  grid-area: stack;
}

.will-change {
  will-change: transform;
}

.text-nav {
  font-size: 0.94rem;
  line-height: 1.37rem;
}

li::marker {
  color: rgb(200 200 200 / 70%);
  font-size: 105%;
  line-height: 0;
}

.no-tap {
  -webkit-tap-highlight-color: transparent;
}

.pb-16\:9 {
  padding-bottom: 56%;
}
.pb-16\:11 {
  padding-bottom: 68.75%;
}
.desaturate { filter: brightness(1.2) saturate(1.1) contrast(0.95)}
@media screen and (min-width: 768px) {
  .desaturate { filter: grayscale(0.9) brightness(1.3) contrast(1) }
}

.text-stroke, .active\:text-stroke:active {
  -webkit-text-stroke: 2px white;
  color: transparent;
  -webkit-tap-highlight-color: transparent;
  transition: color 200ms;
}
.text-stroke-100 {
  -webkit-text-stroke: 0.5px black
}
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
.clean-outline {
  @apply bg-gray-600;
  @apply bg-opacity-0;
  @apply focus:outline-none;
  @apply focus:bg-opacity-20;
}